* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  position: relative;
}

#house{
  margin: 10px;
  font-size: 1.5em;
}

#cart{
  margin: 10px 10px 10px 600px;
  font-size: 1.2em;
}

img{
  width: 50%;
}

#features{
  color: black;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 8px;
}

a{
  text-decoration: none;
  color:darkslategrey;
}
